.navbar{
    background-color: rgb(128, 81, 172);
}

.quem-somos{
    background-color: rgb(53, 52, 52);
    color: beige;
}

.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}
.parceiros{
    background-color: cornflowerblue;
}

.bg-footer{
    background-color: black;
    color: blanchedalmond;
}

.servicos{
    background-color: rgb(190, 111, 55);

}